PORT=8787
JWT_SECRET=change-this-to-a-long-random-string
CORS_ORIGIN=https://betting-ed.vercel.app,http://127.0.0.1:8734,http://localhost:8734
WELCOME_BONUS=1000
CURRENCY=ETB
MIN_STAKE=20
ODDS_API_BASE=https://multi-shop-games-2.onrender.com/api/games/sportsbook
BOOKMAKER=8
